@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="menu">
    <div class="menu-item">
        <div>
            ParkId: @Model.GetParkId
        </div>
        <div>
            Protocol: <span id="protocolText">@Model.GetProtocol</span>
        </div>
    </div>
    <div class="menu-item">
        <button id="simulateButton">Start Simulation</button>
    </div>
    <div class="menu-item">
        <button id="httpProtocolButton">HTTP</button>
        <button id="grpcProtocolButton">GRPC</button>
        <button id="serialProtocolButton">SERIAL</button>
    </div>
</div>
<div class="template-body">
    <div class="spaces">
        @foreach (var space in Model.GetRealSpaces)
        {
            int spaceId = space.Key;
            string spaceName = space.Value;

            <div class="space" data-id="@spaceId">
                <div>
                    <div class="space-id">
                        @Html.Raw(spaceId) 
                    </div>
                    <div class="space-name">   
                        @Html.Raw(spaceName)
                    </div>
                </div>
            </div>
        }
    </div>
</div>

